# Ignore build files
build/
*.o
*.obj
*.out

# Ignore IDE/project files
.vscode/
*.vcxproj
*.user
*.sln
*.DS_Store

# Ignore map/data files
Karachi OSM/
*.osm
*.pbf
*.csv
*.rar

# Environment/config
config.bat
node_modules/
.env
osm_env/

# Specific files
user_data.pbf
Dockerfile*.pbf
florida*
*.osm
